name: "Label Issues"
on:
  issues:
    types: [opened, edited]

jobs:
  label:
    runs-on: ubuntu-latest
     actions: read
  contents: read
  security-events: write
  permissions:
      issues: write
      pull-requests: write
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: github/issue-labeler@v3.0
        with:
          configuration-path: .github/labels.yml
          enable-versioned-regex: 0
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          sync-labels: 1
